* {
  box-sizing: border-box;
}

:root {
  --bg: #f9fafb;
  --fg: #1e1e1e;
  --h1: var(--fg);
  --pink: #f472b6;
  --card: #f3f4f6;
  --card-border: #e5e7eb;
  --fn-bg: #e4e4e4;
  --fn-border: #cfcfcf;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 1.18rem;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
}

h1,
strong {
  color: var(--h1);
}

p {
  line-height: 1.45;
}

code {
  font-family: "Fira Code", "Hack", "Source Code Pro", "SF Mono", "Inconsolata",
    monospace;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: baseline;
}

.row div {
  flex: 1;
}

header a {
  display: block;
}

svg {
  width: 2em;
  height: 2em;
  color: var(--h1);
}

#in {
  width: 100%;
  padding: 1.2rem 2rem;
  border: 2px solid var(--pink);
  border-radius: 100px;
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Fira Code", "Hack", "Source Code Pro", "SF Mono", "Inconsolata",
    monospace;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

button,
.button,
#in {
  transition: outline-width 0.08s ease-out;
  outline: 0.01px solid #f472b699;
}

button:focus-visible,
.button:focus-visible,
#in:focus {
  outline-width: 3px;
}

hr {
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  margin: 2rem 0;
}

.app {
  margin-top: 1rem;
}

.error {
  color: red;
}

.card {
  border-radius: 8px;
  border: 1px solid var(--card-border);
  background-color: var(--card);
  padding: 1rem;
  margin-top: 2rem;
}

.card > :first-child {
  margin-top: 0;
}

.card > :last-child {
  margin-bottom: 0;
}

.js {
  display: block;
  opacity: 0.8;
  font-style: italic;
  padding: 0.5rem 1rem 0.5rem 0;
}
.js::after {
  content: "...";
}

pre {
  line-height: 1.5;
  padding-left: 1rem;
}

table {
  padding-left: 1rem;
}

tr td:first-child {
  padding-right: 0.75rem;
  text-align: right;
}

li {
  margin-top: 0.5rem;
}

a {
  color: var(--fg);
  text-decoration: underline;
}

a:hover {
  color: #a03939;
}

a:active {
  color: #ff4464;
}

.loc {
  opacity: 0.7;
}

.fn {
  background-color: var(--fn-bg);
  border: 1px solid var(--fn-border);
  border-radius: 4px;
  padding: 2px;
  font-size: 87%;
}

.namespace {
  color: #861a96;
  font-weight: bold;
}

.kw {
  color: #cf7137;
  font-weight: bold;
}

.skeleton {
  display: inline-block;
  animation:
    f 2s var(--delay) ease-in-out infinite,
    a 100ms linear both;
  border-radius: 8px;
  color: transparent;
}

.skeleton * {
  opacity: 0;
}

.spacing {
  margin: 1rem 0;
  padding-bottom: 0.5rem;
}

button,
.button {
  appearance: none;
  background-color: var(--pink);
  border: 2px solid rgb(247, 97, 174);
  border-radius: 6px;
  padding: 0.4rem 0.7rem;
  color: black;
  font-weight: medium;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

button:hover,
.button:hover {
  background-color: #f789c2;
  color: black;
}

@keyframes a {
  0%,
  20% {
    background-color: transparent;
  }
  to {
    background-color: var(--fg);
  }
}

@keyframes f {
  0%,
  20%,
  80%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #14151a;
    --fg: #d1d5db;
    --h1: #f9fafb;
    --card: #212228;
    --card-border: #212228;
    --fn-bg: #2c2e3b;
    --fn-border: #373947;
  }

  a {
    color: #ccc1c9;
    text-decoration: underline;
  }

  a:hover {
    color: #bc7dab;
  }

  a:active {
    color: #ff4464;
  }
}

@media (max-width: 480px) {
  .card {
    margin-left: -1em;
    margin-right: -1em;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  tbody {
    white-space: nowrap;
  }
  table {
    padding-left: 0;
  }
}
