modules = ["web", "rust-stable", "bun-1.2"]
run = "bun run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "bun build.ts"]

[[ports]]
localPort = 3000
externalPort = 80
